<?php
return [
    'login_channel_id' => '',   //LINEログインチャネルID
    'login_channel_secret' => '',   //LINEログインチャネルシークレット
    'messagingapi_channel_secret' => '',        //LINEメッセージングAPIチャネルシークレット（WP LINE Connectと連携する場合）
    'encrypt_password' => 'pleaseChange',  //暗号化キー
    'login_url' => 'login/',    //ログイン画面URL
    'home_url' => '/',    //ユーザーホーム画面URL
    'message_url' => 'linemessage/',    //LINE連携中、連携完了メッセージ表示画面URL（要作成）
    'callback_url' => 'linecallback/',  //LINEログインコールバックURL（作成不要）
    'redirect_url' => [
        'linelogin' => ['login/','ログイン画面へ'], //LINEログイン開始URL（ログイン画面用）
        'linesignup' => ['register/','新規登録画面へ'], //LINEログイン開始URL（新規登録画面用）
        'lineregister' => ['register/','新規登録画面へ'],    //LINEログイン開始URL（新規登録画面用）
        'linelink' => ['user/','ホーム画面へ'],  //LINEログイン開始URL（連携画面用）
    ],
    'error_message' => [
        'access_denied' => 'LINEログインがキャンセルされました。',
        'auth_error' => 'LINE認証中にエラーが発生しました。',
        'invalid_state' => 'LINE連携中にエラーが発生しました。',
        'userdetails_error' => 'LINE連携中にエラーが発生しました。時間をおいて再度お試しください。',
        'duplicate_error' => 'このLINEアカウントは既に連携済みです。連係解除を行ってから再度お試しください。',
        'already_linked' => 'このLINEアカウントと既に連携済みです。',
        'goto_login' => 'このLINEアカウントはまだ連携されていません。当サイトのユーザー名またはメールアドレスとパスワードでログインすることで連携が行われます。',
        'goto_regist' => 'このLINEアカウントはまだ連携されていません。当サイトへ会員登録することで連携が行われます。',
        'link_complete' => 'LINE連携が完了しました。',
        'unlink_complete' => 'LINE連携を解除しました。',
    ],
    'logging' => false,  //ログを記録するか
    'log_file' => __DIR__.'/log/log.php',   //ログファイルパス
];